<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
 PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-config.dtd">
 <configuration>
   <!-- 引入配置文件 -->
   <properties resource="mysql.properties" />
   
   <!-- 延迟开关必须放在properties之后 -->
   <settings>
     <setting name="lazyLoadingEnabled" value="true"/>
     <!-- 延迟开关开启后自动打开，可以不用配置
          把它的属性值设置为false即为打开深度延迟 -->
     
     <setting name="aggressiveLazyLoading" value="false"/>
   </settings>
      
   <typeAliases>
    <!-- 设置实体类的路径，设置后mapper配置中可省略路径 -->
     <package name="org.entity"/>
   </typeAliases> 
   <environments default="test">
     <environment id="test">
        <!--默认的事务处理 -->
        <transactionManager type="JDBC">         
		</transactionManager>
        <!--现在使用默认的数据库连接池 --> 
        <dataSource type="POOLED">
          <property name="driver" value="${jdbc.driver}"/>
          <property name="username" value="${jdbc.username}"/>
          <property name="password" value="${jdbc.password}"/>
          <property name="url" value="${jdbc.url}"/>
        </dataSource>    
     </environment>
   </environments>
   <!-- 将映射文件添加到主配置文件中 -->
   <mappers>
   		<!-- <mapper resource="org/daoimpl/citydaomapper.xml" /> -->
   		<!-- <mapper resource="org/dao/CityDao.xml" />
   		<mapper resource="org/dao/CustomerDao.xml" />
   		<mapper resource="org/dao/DepartmentDao.xml" />
   		<mapper resource="org/dao/StuDao.xml" />
   		<mapper resource="org/dao/CourseDao.xml" />
   		<mapper resource="org/dao/ScoreDao.xml" />
   		<mapper resource="org/dao/OrderDao.xml" /> -->
   		<package name="org.dao"/>	
   </mappers>
 </configuration>